.lightbox {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 100;
  opacity: 0;
  left: 0;
  top: 0;
  height: 0;
  width: 100vw;
  transition: all .2s;
}

.lightbox--js--open {
  opacity: 1;
  height: 100vh;
}

.lightbox__wrapper {
  padding: 2rem;
  background-color: hsl(0, 0%, 100%);
}

.lightbox__background {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: hsla(0, 0%, 0%, .6);
}