<template name="bookingsList">
  <article>
    <h2>Bookings</h2>
    <table>
      <tbody>
        {{ #each bookings }}
          <tr>
            <td>{{ description }}</td>
            <td>{{ getHumansName human }}</td>
            <td>{{ formatDate timeRange.from }}</td>
            <td>{{ formatDate timeRange.to }}</td>
            {{ #if currentUser }}
              <td>
                <a href="#{{ getEditURL }}">edit</a>
                {{ #kriegslustigLightbox name=getEditURL }}
                  {{ > bookingsUpdate  }}
                {{ /kriegslustigLightbox }}
              </td>
            {{ /if }}
          </tr>
        {{ /each }}
      </tbody>
    </table>
  </article>
</template>