<template name="humansList">
  <article>
    <h2>Humans</h2>
    <table>
      <tbody>
        {{ #each humans }}
          <tr>
            <td>{{ givenName }}</td>
            {{ #if currentUser }}
              <td>
                <a href="#{{ getEditURL }}">edit</a>
                {{ #kriegslustigLightbox name=getEditURL }}
                  {{ > humansUpdate  }}
                {{ /kriegslustigLightbox }}
              </td>
            {{ /if }}
          </tr>
        {{ /each }}
      </tbody>
    </table>
  </article>
</template>