<template name="objectsList">
  <article>
    <h2>Objects</h2>
    <table>
      <tbody>
        {{ #each objects }}
          <tr>
            <td>{{ name }}</td>
            <td>{{ objectType }}</td>
            <td>{{ serialNo }}</td>
            <td>
              <a href="#{{ getEditURL }}">edit</a>
              {{ #lightbox name=getEditURL }}
                {{ > objectsUpdate  }}
              {{ /lightbox }}
            </td>
          </tr>
        {{ /each }}
      </tbody>
    </table>
  </article>
</template>