<template name="pageTimesheet">
  <main class="timesheet">
    {{ #if not currentUser }}
      <a class="neatButton" href="#/user/login">Login</a>
      {{ #kriegslustigLightbox name='/user/login' }}
        {{ > userLogin }}
      {{ /kriegslustigLightbox }}
    {{ else }}
      {{ #kriegslustigLightbox name='/objects/new' }}
        {{ > objectsNew }}
      {{ /kriegslustigLightbox }}
      <a class="neatButton" href="#/objects/new">New Object</a>
      {{ #kriegslustigLightbox name='/bookings/new' }}
        {{ > bookingsNew }}
      {{ /kriegslustigLightbox }}
      <a class="neatButton" href="#/bookings/new">New Booking</a>
      {{ #kriegslustigLightbox name='/humans/new' }}
        {{ > humansNew }}
      {{ /kriegslustigLightbox }}
      <a class="neatButton" href="#/humans/new">New Human</a>
    {{ /if }}
    {{ > graphicTimesheet dep=formatedBookingsDep items=getFormatedBookings }}
    {{ > objectsList }}
    {{ > bookingsList }}
    {{ > humansList }}
  </main>
</template>