.form-group {
  float: left;
  width: 100%;
  padding: .25rem 0;
  line-height: 2.5rem;
}

.form-group label:after {
  content:':';
}

.form-group input {
  float: right;
  width: 15rem;
  line-height: 2.5rem;
  padding: 0 .5rem;
  border: 1px solid hsl(0, 0%, 80%);
  font-size: 1rem;
  font-family: inherit;
}

.form-group input:focus {
  border: 1px solid hsl(0, 0%, 0%);
  outline: 0;
  background-color: hsl(0, 0%, 97%);
}

.form-group + input[type=submit] {
  float: right;
  margin-top: .5rem;
}