input[type=submit],
button,
.neatButton {
  display: inline-block;
  padding: .6rem 1rem;
  color: hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 90%);
  border: 1px solid hsl(0, 0%, 90%);
  transition: all .2s;
  font-size: 1rem;
  font-family: inherit;
  text-decoration: none;
}

input[type=submit]:focus,
button:focus,
.neatButton:focus,
input[type=submit]:hover,
button:hover,
.neatButton:hover,
input[type=submit]:active,
button:active,
.neatButton:active {
  background-color: hsl(0, 0%, 80%);
}

input[type=submit]:focus,
button:focus,
.neatButton:focus,
input[type=submit]:active,
button:active,
.neatButton:active {
  outline: 0;
  text-decoration: underline;
  border: 1px solid hsl(0, 0%, 0%);
}