.graphicTimesheet {
  position: relative;
  margin-top: 1rem;
  overflow: hidden;
  overflow-x: scroll;
}

.graphicTimesheet__row {
  display: block;
  position: relative;
  box-sizing: content-box;
  width: 100%;
  height: 1rem;
  margin-left: 10.5rem;
}

.graphicTimesheet__row:nth-child(2n) {
  background-color: hsl(0, 0%, 90%);
}

.graphicTimesheet__rowTitle {
  margin-left: -10.5rem;
}

.graphicTimesheet__item {
  opacity: .6;
  position: absolute;
  overflow: hidden;
  height: 100%;
  left: 0;
  top: 0;
  background-color: hsl(0, 0%, 30%);
  transition: all .2s;
}

.graphicTimesheet__item:hover {
  opacity: 1;
  overflow: visible;
  z-index: 2;
}

.graphicTimesheet__itemDescription {
  opacity: 0;
  background-color: hsla(0, 0%, 100%, .3);
  white-space: nowrap;
  transition: all .2s;
}

.graphicTimesheet__itemDescription:hover {
  opacity: 1;
}

.graphicTimesheet__header {
  display: block;
  position: relative;
  width: 100%;
  height: 1rem;
  margin-left: 10.5rem;
  overflow: hidden;
}

.graphicTimesheet__time {
  position: absolute;
  left: 0;
  top: 0;
}

.graphicTimesheet__time--to {
  position: absolute;
  left: inherit;
  right: 0;
  top: 0;
}

.graphicTimesheet__marker {
  display: inline-block;
  height: 100%;
  border-right: 1px solid hsl(0, 0%, 0%);
  color: transparent;
  transition: all .4s;
}

.graphicTimesheet__marker:hover {
  color: hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 80%);
}